<script>
  $(document).ready(function() {
    assignedExercise.initModule();
  });
</script>

<div class="row assigned_exercises_list">
  <div class="col-sm-8 col-sm-offset-2 assigned_exercises_elements_wrap">
    <h1>개인 맞춤형 수행 활동 목록</h1>
    <% previous_session = -1 %>
    <% @assigned_exercises.each do |ass_exercise| %>
    <% if previous_session != ass_exercise.exercise.session %>
    <h2><%= previous_session = ass_exercise.exercise.session %> 회기 </h2>
    <% end %>
    <div class="row assigned_exercises_elements">
      <div class="col-xs-8 col-xs-offset-1 col-sm-8 col-sm-offset-1 title">
        <%= ass_exercise.exercise.name %>
      </div>
      <div class="col-xs-2 col-sm-2">
      <button type="button" class="check <%= (ass_exercise.passed == true) ? "active" : "" %>" data-toggle="modal" data-target="#contentsModal" data-title="<%= ass_exercise.exercise.name %>" data-this="<%= ass_exercise.id %>" data-id="<%= ass_exercise.exercise_id %>" <%= (ass_exercise.passed == true) ? "disabled=true" : "" %>><i class="fa fa-check-square"  ></i></button>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="contentsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">New message</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <%= button_to "수행 완료", check_assigned_exercises_path, method: "post", params: {id: 0}, class: "btn btn-primary btn-exerciseCheck" %>
      </div>
    </div>
  </div>
</div>