<script>
var chart = jui.include("chart.builder");
var data = [
    { category : "사이버 언어폭력", score : <%= @result.score_1 %> },
    { category : "사이버 따돌림", score : <%= @result.score_2 %> },
    { category : "사이버 명예훼손", score : <%= @result.score_3 %> },
    { category : "사이버 성폭력", score : <%= @result.score_4 %> },
    { category : "기타", score: <%= @result.score_5 %> }
];


$(document).ready(function() {
  chart(".results_chart", {
    padding : {
      left: 100
    },
    axis : {
      x : {
       type : "range",
       domain : [0, 100],
       step : 10,
       line : true
     },
     y : {
       type : "block",
       domain : "category",
       line : true
     },
     data : data
   },
    brush : {
     type : "bar",
     target : "score",
     display : "max",
     active : 5,
     activeEvent : "mouseover",
     animate : true,
     colors : [11],
   },
   widget : {
     type : "title",
     text : "진단 결과 점수",
     align : "start"
   }
  });

  for (var list in data) {

    if (data[list].score > 50 && data[list].category != "기타") {
      $('.results_board_list').append('<li>'+ data[list].category + '</li>');
    }
  }
  $('.results_chart_captions select').on('change', onChangeTimes);
});

var onChangeTimes = function(e) {
  var target = parseInt($(this).val());
  location.href = "/results?times=" + target;
}
</script>
<div class="row jui">
  <div class="col-sm-7 col-sm-offset-1 results_chart" >
  </div>
  <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0 results_chart_captions">
    <div class="row">
      <div class="col-sm-12">
        <label>검사 차수</label>
        <select>
          <% @results.each do |result| %>
            <option <%= "selected" if result.id == @result.id %>><%= result.times %>회차</option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="row results_chart_captions_contents">
      <div class="col-sm-12">기타를 제외한 모든 항목의 점수는 높을수록 사이버 폭력을 가하고 있을 확률이 높음을 의미한다.<br>반대로, 기타는 점수가 높을 수록 좋다.<br>현재는 점수가 50점 이상이면 수행 활동을 할당 하도록 설정되어있다.
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-10  col-sm-offset-1 results_board">
    <div class="row">
      <h1 class="col-sm-10 col-sm-offset-1 results_board_title">문제 영역</h1>
    </div>
    <div class="row">
      <ul class="col-sm-10 col-sm-offset-1 results_board_list">
      </ul>
    </div>
  </div>
</div>
