<!DOCTYPE html>
<html>
<head>
  <title>InformationEthic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no" />
</head>
<body class="<%= params[:controller] %>">
	<div class="container-fluid">
    <%= nav_bar fixed: :top, brand: "정보윤리 5조", responsive: true do %>
	    <%= menu_group do %>
	        <%= menu_item "진단 결과", results_path %>
	        <%= menu_item "수행 활동", assigned_exercises_path %>
      <% end %>
      <% if user_signed_in? %>
        <%= menu_group pull: :right do %>
          <%= menu_item "로그아웃", destroy_user_session_path, :method => :delete %>
        <% end %>
      <% else %>
        <%= menu_group pull: :right do %>
          <%= menu_item "회원가입", new_user_registration_path %>
          <%= menu_item "로그인", new_user_session_path %>
        <% end %>
      <% end %>
		<% end %>
    <%= render partial: "shared/flash_messages", flash: flash %>
    <%= yield %>
    <div class="footer row">
      <div class="col-md-3 col-md-offset-1 footer_logo">
        <h1>정보윤리 5조</h1>
      </div>
      <div class="col-md-7">
        <p>Powered by Ohchang Kwon. <a href="mailto:kwonsci@gmail.com">kwonsci@gmail.com</a></p>
        <p>Copyright(c) Kyungpook National University. Information-ethics 5th group. All rights reserved.</p>
      </div>
    </div>
	</div>
</body>
</html>
