<!DOCTYPE html>
<html>
<head>
  <title>InformationEthic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container-fluid">
		<%= nav_bar fixed: :top, brand: "사이버 폭력 자가진단", responsive: true do %>
	    <%= menu_group do %>
	        <%= menu_item "진단 결과", "#" %>
	        <%= menu_item "치료 활동", "#" %>
	    <% end %>
      <%= menu_group pull: :right do %>
          <%= menu_item "회원가입", "#" %>
      <% end %>
		<% end %>
		<%= yield %>
	</div>
</body>
</html>
